body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg: rgb(230, 230, 255); /* Background */
  --bgh: rgba(0, 0, 0, 0.1); /* bg Header */
  --bgtd: rgba(0, 0, 0, 0.15); /* bg <td> */
  --bgtda: rgba(0, 0, 0, 0.3); /* bg  highlighted <td> */
  --text: rgba(0, 0, 0, 0.9); /* font color */
}

.dark {
  --bg: rgb(0, 0, 20);
  --bgh: rgba(255, 255, 255, 0.1);
  --bgtd: rgba(255, 255, 255, 0.12);
  --bgtda: rgba(255, 255, 255, 0.22);
  --text: rgba(255, 255, 255, 0.6);
}

span label {
  font-size: 1.2em;
  margin-left: 0.5em;
}

#daySelect {
  background-color: var(--bg);
  color: var(--text);
  padding: 2px;
  margin: 5px;
  font-size: 1em;
}

#day {
  margin-top: 0.4em;
}

.ttButton {
  padding: 2px 8px;
  margin: 5px;
  font-size: 1em;
  font-weight: 600;
  border: 2px solid var(--text);
  color: var(--text);
  border-radius: 0.2em;
  background: none;
  cursor: pointer;
}

.ttButton:disabled {
  cursor: default;
  opacity: 0.15;
}

#closeBtn {
  position: absolute;
  top: -2px;
  right: -2px;
  font-size: 0.8rem;
  padding: 2px 4px;
}

#main {
  overflow-x: auto;
  height: 100vh;
  padding: 0px 15px;
  background-color: var(--bg);
  color: var(--text);
}

table {
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;
}

td {
  overflow: hidden;
  white-space: pre;
  text-align: center;
  padding: 0.8em;
  font-size: 1.1em;
  font-weight: 400;
  background-color: var(--bgtd);
  border: none;
  border-radius: 3px;
  color: var(--text);
}

.active {
  background-color: var(--bgtda);
  color: var(--text);
  font-weight: 600;
}

#header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 15px;
  background-color: var(--bgh);
  border-radius: 3px;
  margin-bottom: 2px;
}

#header span {
  position: absolute;
  right: 1em;
}

#time {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  margin-bottom: 0px;
}

.timeInfo {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

#openModalBtn {
  font-size: 0.5em;
  margin-left: 1em;
  padding: 2px 6px;
  border-radius: 1em;
}

#hours {
  position: fixed;
  max-width: 400px;
  width: 100%;
  left: 50%;
  translate: -50%;
  top: 12%;
  font-size: 0.8rem;
  border: 2px solid black;
  border-radius: 6px;
  background-color: var(--bg);
  z-index: 20;
}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.menuButton {
  border-radius: 0.6em;
  border: none;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 4px black;
  padding: 12px 24px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 120ms;
  cursor: pointer;
}

.menuButton:hover {
  transform: scale(1.1);
}

.bio {
  background-color: limegreen;
}

.phy {
  background-color: purple;
}

.chem {
  background-color: skyblue;
}

.sci {
  background-color: orange;
}

@media (max-width: 1200px) {
  * {
    font-size: 12px;
  }

  #main {
    padding: 1px;
  }

  #timetable {
    overflow-x: hidden;
    min-width: 700px;
  }

  #tablediv {
    width: 100%;
    overflow-x: auto;
  }

  #time {
    padding: 0px;
    flex-direction: row;
    justify-content: space-around;
  }

  .menuButton {
    padding: 4px 4px;
    font-size: 0.9em;
    border-radius: 0.3em;
  }

  #header {
    padding: 8px 2px;
    gap: 1.5em;
    justify-content: center;
  }

  #header span {
    font-size: 0.75em;
    margin-left: 1em;
  }

  #day {
    display: flex;
    justify-content: center;
  }

  td {
    padding: 0.2em;
  }

  @media (orientation: portrait) {
    #time {
      flex-direction: column;
    }

    #day {
      flex-direction: column;
      padding: 2em 4em;
      font-size: 1.5em;
    }

    #header {
      padding: 12px 2px;
      gap: 1em;
    }

    #header span {
      position: static;
    }
  }
}
